<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="/imgs/logo1.gif" alt="logo" class="navbar-logo img-fluid">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="logo-cabecalho">
        <a class="navbar-brand" href="/">Farmacias MW</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/unidades">Unidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/paginaCadastro">Adicionar Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/sobre">Sobre nós</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Remedio para todos</a></li>
            <li><a class="dropdown-item" href="#">Assinatura premium</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Trabalhe conosco</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Pesquise seu remedio aqui" aria-label="Search" id="barraPesquisa">
        <button class="btn btn-outline-success" type="submit">Pesquisar 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart-fill" viewBox="0 0 16 16">
            <path d="M6.5 13a6.474 6.474 0 0 0 3.845-1.258h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.008 1.008 0 0 0-.115-.1A6.471 6.471 0 0 0 13 6.5 6.502 6.502 0 0 0 6.5 0a6.5 6.5 0 1 0 0 13Zm0-8.518c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
            </svg>
        </button>
      </form>
    </div>
  </div>
</nav>