<ul class="footer-links">
  <li><a href="#">Sobre nós</a></li>
  <li><a href="#">Unidades</a></li>
  <li><a href="#">Remédio para todos</a></li>
  <li><a href="#">Assinatura MW</a></li>
  <li><a href="#">Trabalhe conosco</a></li>
</ul>

<h4 class="disabled-link">Farmácias MW &copy;</h4>