<form action="/produtos/adicionarProduto" method="post" id="form-cadastro">
  <div class="mb-3">
    <label for="nomeProduto" class="form-label">Nome do produto</label>
    <input type="text" name="nomeProduto" class="form-control">
  </div>
  <div class="mb-3">
    <label for="quantidade" class="form-label">Quantidade:</label>
    <input type="number" name="quantidade" class="form-control">
  </div>
  <div class="mb-3">
    <label for="preco" class="form-label">Preço: </label>
    <input type="number" name="preco" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>